
$gold-gradient-border: linear-gradient(to right, rgb(222, 178, 121) 0%, rgb(216, 172, 128) 21%, rgb(254, 222, 136) 51%, rgb(255, 240, 198) 100%);
$gold-gradient-background: linear-gradient(to top, rgb(222, 178, 121) 0%, rgb(216, 172, 128) 21%, rgb(254, 222, 136) 51%, rgb(255, 240, 198) 100%);
$purple-gradient: linear-gradient(to top, rgb(151, 42, 230) 0%, rgb(98, 111, 191) 100%);
$purple-dark-gradient: linear-gradient(90deg, rgba(174,44,241,1) 0%, rgba(119,118,255,1) 50%, rgba(50,49,83,1) 100%);

$color-gold: #f6c980;
$color-white: #ffffff;
$color-dark: #343841;
$color-light-blue: #62718e;