@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.tippy-box {
  font-size: 18px;
  background-color: #26272d;
  -webkit-box-shadow: 0px 7px 13px 0px rgba(14,14,14,0.74);
  box-shadow: 0px 7px 13px 0px rgba(14,14,14,0.74);
  color: #fff;
}
.tippy-box[data-animation=shift-away][data-state=hidden]{opacity:0}.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=top]{transform:translateY(10px)}.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=bottom]{transform:translateY(-10px)}.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=left]{transform:translateX(10px)}.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=right]{transform:translateX(-10px)}
.tippy-arrow {
  color: #26272d;
}
.quick-bar, .quick-bar .nav-links{
  width: $quick-bar-width;
}

.menu-opened .quick-bar, .menu-opened .quick-bar .nav-links {
  width: 320px;
  overflow: visible;
}

.overlay-open .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 1;
  display: block;
  background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.5));
}

.quick-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 120;
  transition: width .4s;
  overflow: hidden;
  &__links {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 90px;
    width: 100%;
    background: -moz-linear-gradient( -178deg, rgb(49,53,61) 0%, rgb(52,57,65) 100%);
    background: -webkit-linear-gradient( -178deg, rgb(49,53,61) 0%, rgb(52,57,65) 100%);
    background: -ms-linear-gradient( -178deg, rgb(49,53,61) 0%, rgb(52,57,65) 100%);
    background: linear-gradient( -178deg, rgb(49,53,61) 0%, rgb(52,57,65) 100%);
    box-shadow: 0px 7px 13px 0px rgba(14, 14, 14, 0.42);
    z-index: 1;
    height: 100%;
    .nav-links__link-icon {
      width: 23px;
      height: 23px;
      margin-top: -6px;
    }
  }
  &__links-wrap {
    padding-top: 28px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.nav-links--v .nav-links__item, .nav-links--v .nav-links__link {
  display: flex;
  width: 100%;
  margin: 0;
}

.nav-links--v .nav-links__item .nav-links__item-link.active:not(.nav-links__item-locale) .nav-links__item-link, .nav-links--v .nav-links__item .nav-links__item-link.active:not(.nav-links__item-locale) .nav-links__link {
  cursor: default;
}

.btn-bento {
  width: $quick-bar-width;
  height: 90px;
  background: $purple-gradient;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    position: relative;
    width: 34px;
    height: 34px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    &.active {
      transform: rotate(-45deg);

      .btn-bento__el.r1.c1,
      .btn-bento__el.r1.c3,
      .btn-bento__el.r3.c1,
      .btn-bento__el.r3.c3 {
        left: 40%;
        top: 40%;
      }

      .btn-bento__el.r2.c1,
      .btn-bento__el.r2.c3 {
        width: 50%;
      }

      .btn-bento__el.r3.c2,
      .btn-bento__el.r1.c2 {
        height: 50%;
      }

      .btn-bento__el.r3.c2 {
        top: 50%;
      }

      .btn-bento__el.r2.c3 {
        left: 50%;
      }
    }
  }
  &__el {
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  .r1 {
    top: 0;
  }
  .r2 {
    top: 40%;
  }
  .r3 {
    top: 80%;
  }
  .c1 {
    left: 0;
  }
  .c2 {
    left: 40%;
  }
  .c3 {
    left: 80%;
  }
}

.nav-links {
  display: flex;
  &__item {
    transition: all .2s ease-out;
    &.top-bar__menu-item {
      margin-right: 20px;
      height: 75px;
      min-width: 235px;
      $border: 2px;
      color: $color-white;
      background: #31353c;
      box-shadow: 0px 7px 13px 0px rgba(14, 14, 14, 0.74);
      background-clip: padding-box;
      border-left: solid $border transparent;
      border-right: solid $border transparent;
      border-bottom: solid $border transparent;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      position: relative;
      box-sizing: border-box;

      &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: $gold-gradient-border;
      }

      &.top-bar__menu-item--last {
        margin-right: 0;
      }
      .nav-links__link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
      }
    }
  }
  &--v {
    flex-direction: column;

    .nav-links__link {
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: $quick-bar-width;
      font-size: 20px;
      min-height: 60px;
      padding: 0;
      cursor: pointer;
      transition: all .2s ease-out;
    }
    .nav-links__item-link {
      display: flex;
      width: 100%;
    }
    .nav-links__title {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      margin-left: -8px;
      text-transform: uppercase;
      font-size: 20px;
      color: #ffffff;
      white-space: nowrap;
      transition: all 0.2s;
      position: relative;
      left: 20px;
      opacity: 0;
    }
  }
}

.quick-bar .nav-links__link:hover{
    color: #983be0;
}
.menu-opened {
  .quick-bar .nav-links__link {
    color: #983be0;
    &:hover {
      color: #983be0;
    }
  }
  .nav-links__item:hover {
    background-color: #383c44;
  }
}

.menu-opened .quick-bar .nav-links__title {
  left: 0;
  opacity: 1;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 90px;
  background: linear-gradient(0deg, rgba(31,30,34,1) 0%, rgba(52,57,65,1) 100%);
  transition: all .1s ease-out;
  &>* {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    position: relative;
    z-index: 1;
  }
  &__right {
    display: flex;
    position: relative;
    z-index: 1;
  }
  &__links {
    display: flex;
  }
  &__menu {
    display: flex;
  }
  &__logo {
    &-img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 15px;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    &>* {
      display: flex;
      height: 50px;
    }
  }
}

.user-top {
  display: flex;
  &__info {
    display: flex;
    align-items: center;
    border-radius: $border-radius-min;
    background: #1f1f23;
    padding: 0 20px 0 15px;
    position: relative;
    right: -5px;
    &-icon {
      padding-right: 12px;
    }
    &-data {
      display: flex;
      flex-direction: column;
    }
    &-username {
      color: $color-white;
    }
    &-balance {
      font-size: 19px;
      background-image: linear-gradient(-105deg, rgba(235,177,123,1) 0%, rgba(195,150,107,1) 27%, rgba(228,182,127,1) 47%, rgba(254,217,144,1) 67%, rgba(255,255,255,1) 86%, rgba(252,211,132,1) 100%);
      color:transparent;
      background-clip: text;
    }
  }
  .deposit-btn {
    padding: 0 20px;
    border-radius: $border-radius-min;
    z-index: 2;
  }
}

.switch-language {
  display: flex;
  align-items: center;
  margin-right: 60px;
  cursor: pointer;
  &__inner {
    border-radius: $border-radius-middle;
    background-color: #26272d;
    padding: 0 16px;
    min-height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0px 7px 13px 0px rgba(14, 14, 14, 0.74);
    color: $color-white;

  }
  &__arrow {
    padding-left: 8px;
  }
}

.main, .top-bar {
  margin-left: 90px;
}
.main {
  position: relative;
  z-index: 2;
  padding: 90px 0 0;
}

.main-slider {
  height: 865px;
  margin-bottom: -170px;
  .slide__inner {
    background: linear-gradient(180deg, rgba(26,22,31,1) 0%, rgba(66,59,80,1) 100%);
    width: 100%;
    height: 100%;
    .slide {
      width: 100%;
      height: 100%;
      background-image: url("../images/main-slider/slide1.png");
      background-size: cover;
    }
  }
}

.home-bg-section {
  position: relative;
  z-index: 3;
  min-height: 6050px;
  width: 100%;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    background-image: url(../images/bg.png);
  }
}

.jackpot {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
  &__content {
    position: relative;
    z-index: 5;
    width: 445px;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: -370px;
      top: 4px;
      width: 1100px;
      height: 135px;
      margin: auto 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url(../images/jackpot-violet-band.png);
    }
  }
  &__block {
    width: 100%;
    height: 120px;
    background: $gold-gradient-background;
    border-radius: 60px;
    position: relative;
    padding: 15px 60px;
    &:after {
      content: "";
      position: absolute;
      width: 125px;
      height: 100%;
      left: -32px;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      background-size: 100% 100%;
      background-image: url(../images/jackpot-block-decor.png);
    }
    &:before {
      content: "";
      position: absolute;
      width: 125px;
      height: 100%;
      right: -32px;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      background-size: 100% 100%;
      background-image: url(../images/jackpot-block-decor.png);
    }
    &>* {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    font-size: 30px;
  }
}